.resultado{
    margin-top: 100px;
    margin-bottom: 15px;
    margin-left: 4px;
    padding-left: 150px;
    background-color: aliceblue;
    border-radius: 20px;
    border-color: black;
}
.cuerpo{
    text-align: center;
}
.btn{
    margin: 2px;
    border-color: black;
}
h1{
    text-align: center;
    color: aliceblue;
}
body{
    background-color: black;
    height: 500px;
    background-repeat:no-repeat;
    background-position-x:center;
    background-position-y:center;
    background-size:80rem;
}
.pie{
    margin-top: 180px;
}